.nav-items {
    background-color: var(--ye-back);
    width: 270px;
    height: 100vh;
    position: fixed;
    top: 50px;
    left: -100%;
    transition: 850ms;
}

.nav-items.active {
    left: 0;
    transition: 350ms;
}


.nav-close {
    color: var(--ye-text);
    width: 100%;
    font-size: 25px;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}


@media only screen and (min-width: 1024px) {
    .nav-items {
        background-color: var(--ye-back);
        padding-top: 10px;
        width: 270px;
        height: 100vh;
        position: relative;
        top: 0;
        left: 0;
    }

    .nav-close {
        display: none;
    }
}