.register-container {
  margin: 0 20px;
}

label {
  margin-top: 8px;
}

.form-input {
  padding: 9px;
  width: 100%;
  border-radius: 5px;
  background-color: white;
  border: 1px solid lightblue;
}

.form-header {
  font-size: 30px;
  text-align: center;
}

.signup-btn {
  width: 100%;
  margin-top: 10px;
  color: var(--ye-text);
  background-color: var(--ye-back);
}

/* div>.invalid-feedback {} */

@media only screen and (min-width: 580px) {
  .register-container {
    width: 468px;
  }

  .form-header {
    font-size: 30px;
  }
}