:root {
  --ye-text: #ffffff;
  --ye-back: #004466;
  --ye-back-light: #04547c;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.layout-container {
  position: fixed;
  width: 100%;
}