.item-container {
    list-style-type: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.item-list {
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    border: 1px solid var(--ye-text);
    border-radius: 4px;
}

.item-list:hover {
    background-color: var(--ye-back);
    background-color: #04547c;
}

.arrow-down {
    display: flex;
    margin-left: auto;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid var(--ye-text);
}